body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0f172a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
<h1>
  coolor: #B0C4DE
}


nav a {
  color: #cbd5e1;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h1, h2 {
  color: #0f172a;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #e5e7eb;
  font-size: 14px;
}
